/* Header */
.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
}

/* Seccion superior */

.superior__seccion__container{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;

}

/* Panel lateral */
.menu__container{
    position: fixed;
}

.rodapie__container{
    display: flex;
    flex-flow: column wrap;
    /* justify-content: space-between; */
}

@media (max-width:834px){

    /* Cabecera */
    .cabecera__buscar__item{
        display: none;
    }

    /* Seccion superior */
    .superior__seccion__container{
        display: none;
    }

    /* Panel Inferior */
    .menu__container{
        position: fixed;
        bottom: 0%;
        height: 75px;
        width: 100%;
    }
    .menu__lista{
        display: flex;
        justify-content: space-around;    
        align-items: center;
        height: 100%;
    }
    .menu__lista:nth-child(n+2) {
        display: none;
    }
    .menu__lista li{
        align-self: center;
    }
    .menu__itens{
        display: flex;
        flex-direction: column;
        gap: 5px
    }

}